@tailwind base;
@tailwind components;
@tailwind utilities;

.img {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../src/Assets/ankara.png') no-repeat;
    background-size: cover;


}
*{

  font-family: 'Crimson Pro', serif;
}
.crimson, h1 {
    font-weight: bold;
}

.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  